//
// MIXINS - BACKGROUND-SIZE
//__________________________________________________

@mixin background-size($value){
  -webkit-background-size: $value;
  -moz-background-size: $value;
  -o-background-size: $value;
  background-size: $value;
}