//
// MIXINS - BORDER-RADIUS
//__________________________________________________

@mixin border-radius($value){
  -moz-border-radius: $value;
  -webkit-border-radius: $value;
  border-radius: $value;
}

@mixin border-top-radius($value) {
  -webkit-border-top-right-radius: $value;
  border-top-right-radius: $value;
  -webkit-border-top-left-radius: $value;
  border-top-left-radius: $value;
  background-clip: padding-box;
}

@mixin border-top-left-radius($value) {
  -webkit-border-top-left-radius: $value;
  border-top-left-radius: $value;
  background-clip: padding-box;
}

@mixin border-top-right-radius($value) {
  -webkit-border-top-right-radius: $value;
  border-top-right-radius: $value;
  background-clip: padding-box;
}

@mixin border-right-radius($value) {
  -webkit-border-bottom-right-radius: $value;
  border-bottom-right-radius: $value;
  -webkit-border-top-right-radius: $value;
  border-top-right-radius: $value;
  background-clip: padding-box;
}

@mixin border-bottom-radius($value) {
  -webkit-border-bottom-right-radius: $value;
  border-bottom-right-radius: $value;
  -webkit-border-bottom-left-radius: $value;
  border-bottom-left-radius: $value;
  background-clip: padding-box;
}

@mixin border-bottom-left-radius($value) {
  -webkit-border-bottom-left-radius: $value;
  border-bottom-left-radius: $value;
  background-clip: padding-box;
}

@mixin border-bottom-right-radius($value) {
  -webkit-border-bottom-right-radius: $value;
  border-bottom-right-radius: $value;
  background-clip: padding-box;
}

@mixin border-left-radius($value) {
  -webkit-border-bottom-left-radius: $value;
  border-bottom-left-radius: $value;
  -webkit-border-top-left-radius: $value;
  border-top-left-radius: $value;
  background-clip: padding-box;
}