//
// ANIMATIONS
//__________________________________________________
$default-easing: 0.25s;
$slow-easing: $default-easing * 2;
$fast-easing: $default-easing / 2;

$default-delay: 0.25s;
$slow-delay: $default-delay * 2;
$fast-delay: $default-delay / 2;