//
// BRANDING
//__________________________________________________
$primary-color:             #35b3b3;
$primary-color-dark:        darken($primary-color, 5);
$primary-color-light:       lighten($primary-color, 5);

$secondary-color:           #484848;
$secondary-color-dark:      darken($secondary-color, 5);
$secondary-color-light:     lighten($secondary-color, 5);

$error-color:               #e63027;
$warning-color:             #8a6d3b;
$attention-color:           #31708f;
$success-color:             #3c763d;


//
// LAYOUT COLORS
//_________________________
$body-background-color:         #fff;
//$background-color-light:        lighten($body-background-color, 100);
//$dropdown-background-color:     $background-color-light;

$shadow-color:          #000;
$border-color-default:  #dfdfdf;
$border-color-light:    lighten($border-color-default, 100);
$border-color-dark:     darken($border-color-default, 20);


// Header


// Footer
$footer-background-color: $secondary-color;
$footer-icon-color: lighten($secondary-color, 14%);
$footer-icon-hover-color: $primary-color;
$footer-dividers: lighten($secondary-color, 13%);

//
// TYPOGRAPHY
//_________________________

@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,700,400);

$primary-font-family: 'Roboto', sans-serif;


$font-color-base:       #d4d4d4;
$font-color-light:      lighten($font-color-base, 100);
$font-color-dark:       darken($font-color-base, 100);
$font-color-error:      $error-color;
$link-hover-color:      darken($primary-color, 10);
$font-hightlight-color: $link-hover-color;



$base-font-size:    14px;
$font-size-default: 100%;   //14px
$font-size-h1:      428.6%; //60px / $base-font-size
$font-size-h2:      342.8%; //48px / $base-font-size
$font-size-h3:      171.4%; //24px / $base-font-size
$font-size-h4:      128.6%; //18px / $base-font-size
$font-size-h5:      114.3%; //16px / $base-font-size
$font-size-h6:      85.7%;  //12px / $base-font-size

h1{font-size: $font-size-h1;}
h2{font-size: $font-size-h2;}
h3{font-size: $font-size-h3;}
h4{font-size: $font-size-h4;}
h5{font-size: $font-size-h5;}
h6{font-size: $font-size-h6;}


$letter-spacing-sm: 0.02em; //20 tracking
$letter-spacing-default: 0.025em; //25 tracking

$border-radius-default: 4px;
$border-radius-small:   $border-radius-default/2;
$border-radius-large:   $border-radius-default*2;
$border-radius-circle:  50%;