*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $primary-font-family;
  //background-color: $body-background-color;
}

#wrapper{
  width: 100%;
  height: auto;
  float: left;
}