//
// PARTIALS - GRID
//__________________________________________________

.container{
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  @include break-sm{
    width: 80%;
    max-width: 1400px;
  }
}

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
