@mixin hr-image($image, $width, $height) {
  @media print,
         (-webkit-min-device-pixel-ratio: 1.25),
         (-o-min-device-pixel-ratio: 5/4),
         (min-resolution: 120dpi) {
    background-image: url($image);
    background-size: $width $height;
  }
}