//
// PARTIALS - VISIBILITY
//__________________________________________________
.visible-xs{
  display: block;
  @include break-sm{
    display: none;
  }
}

.hidden-xs{
  display: none;
  @include break-sm{
    display: block;
  }
}