//
// COMPONENTS - BACK-TO-TOP
//__________________________________________________
#back-to-top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: $font-color-light;
  text-decoration: none;
  cursor: pointer;
  z-index: 9999;
  background: rgba($primary-color, 0.5);
  opacity: 0;
  @include flex();
  @include flex-align(center);
  @include flex-justify(center);
  @include border-radius($border-radius-default);
  @include transition(all $default-easing ease-in-out);
  &:hover{
    background: $primary-color-dark;
  }
  &.show{
    opacity: 1;
  }
}