//
// COMPONENTS - MODULES
//__________________________________________________
section.module{
  width: 100%;
  height: auto;
  float: left;
  padding: 80px 0 0;
  .module-title{
    text-transform: uppercase;
  }
  .module-title, .module-subtitle{
    text-align: center;
  }
  .module-subtitle{
    margin: 0 0 80px 0;
  }
  .title-divider{
    width: 40px;
    height: 2px;
    margin: 20px auto;
    background: $primary-color;
  }
  .module-content{
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 0 0 40px;
    border-top: 1px solid $border-color-default;
    border-bottom: 1px solid $border-color-default;
  }
}

