//
// COMPONENTS - PROJECT-PAGE
//__________________________________________________
.project-content{
  @include flex();
  @include flex-align(center);
  @include flex-direction(column);
  @include break-sm{
    @include flex-direction(row);
  }

  .column{
    width: 100%;
    @include break-sm{
      width: 50%;
    }
  }
  .column-right{
    @include flex();
    @include flex-direction(column);
    @include break-sm{
      padding: 0 0 0 100px;
    }
    .title-divider{
      margin: 20px;
    }
  }

  .project-title{
    margin: 0;
  }

  .project-description{
    margin-bottom: 40px;
  }

  .project-technology{
    margin: 10px 0 15px 0;
    ul{
      li{
        display: inline;
        padding: 0 10px;
        i{
          font-size: $font-size-h3;
        }
      }
    }
  }



  a.project-button{
    max-width: 150px;
    padding: 18px 30px;
    color: $font-color-light;
    text-align: center;
    text-transform: uppercase;
    background-color: $primary-color;
    @include transition(background-color $slow-easing ease-in-out);
    &:hover{
      background-color: $primary-color-dark;
    }
  }
}